<html>
<head>
<title></title>
</head>
<body>
<strong> <h1> <em> Your Bill </em> <h1> </strong>
</body>
<br>
<strong> Name of The Booker : </strong> {{name}} <br>
<strong> Email :</strong> {{email}}<br>
<strong> Phone Number : </strong>{{phone}}<br>
<strong> State/UT :</strong> {{city}}<br>
<strong> NO.Of People : </strong> {{nof}}<br>
<strong> Date From : </strong> {{datefrom}}<br>
<strong> Date To : </strong> {{dateto}}<br>
<strong> Check IN : </strong> {{ci}}<br>
<strong> Check OUT : </strong> {{co}}<br>
</html>