<html>
  <head>{% load static %}
    <title>Welcome to the XYZ Hotel Services</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
  </head>
<body>
  <div class="main-section">
   <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light">
	<div class="container">
	<a class="navbar-brand" href="#">XYZ</a>
	<div class="collapse navbar-collapse" id="ftco-nav">
	<ul class="navbar-nav ml-auto">
	<li class="dropdown nav-item">
    <a href="#" class="dropdown-toggle nav-link icon d-flex align-items-center">
    <i class="ion-ios-apps mr-2"></i>More<b class="caret"></b></a></li>
	<li class="nav-item cta"><a href="#" class="nav-link icon d-flex align-items-center"><i class=" mr-2"></i>Contact Us</a></li></ul>
	</div></div></nav>
  <section class="hero-wrap" style="background-image: url({% static 'images/bg_1.jpg' %});">
    <div class="overlay"></div>
  	<div class="container">
  	<div class="row description align-items-center justify-content-center">
  	<div class="col-md-8 text-center">
  	<div class="text">
  	 <h2>XYZ HOTEL SERVICES</h2>	 
  	 <h4 class="mb-5">A Chest Of The Best Hotels In The World.</h4>
  	 <p><a href="login" class="btn btn-primary btn-round px-5 py-4 mb-2"><i class="mr-2"></i>Login</a><a href="sign_up" class="btn btn-dark px-5 btn-round py-4 mb-2"><i class=" mr-2"></i>Signup</a></p></div></div></div></div>
  </section>						
 </body>
</html>