<html>
<head> {% load static %}
<link rel='stylesheet' href= "{% static 'css/sty.css' %}">
	<title>	Welcome	</title>
</head>
<div style="text-align :center">
<body> <h1>You Have Logged In Successfully </h1> </body>
To Book A Room, Click On The button below :- <br> <br>
<a href="book" target="_self">CLick On This To Visit The Booking Page</a>
<h1> 	-----OR----- </h1>
Click On The Link Below To Check Your Booking History <br> <br>
<a href="#" target="_self">Click Here To Check History</a> </div></html>